<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <appSettings>

    <!-- SEGURIDAD -->
    <add key="URL_PAG_INICIO" value="http://11.162.110.52/log/wfrm/Index.aspx" />

    <add key="WcfUsuarioAUT" value="SDVMA00001" />
    <add key="WcfClaveAUT" value="dzlc77wzLMkrE8DZ8ZQ8zUGPWNG4K6WV4WjO3JSZFuLQoUu5KlUOrueQNPKXJvPH" />
    <add key="WcfTipoCLAVE" value="T" />
  </appSettings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuditoriaES" />
        <binding name="BasicHttpBinding_IAuditoria1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISeguridad">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://11.162.108.89:8019/SrvTarea/Seguridad.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISeguridad"
        contract="srvSeguridad.ISeguridad" name="WSHttpBinding_ISeguridad" />
      <endpoint address="http://11.162.108.89:8035/SrvEntidad/AuditoriaES.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditoriaES"
        contract="srvAuditoriaES.IAuditoriaES" name="BasicHttpBinding_IAuditoriaES" />
      <endpoint address="http://11.162.108.89:8015/SrvTarea/Auditoria.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditoria1"
        contract="srvDataSensible.IAuditoria" name="BasicHttpBinding_IAuditoria1" />
    </client>
  </system.serviceModel>
</configuration>
